.wrapper {
  display: flex;
  background: #f6f5ef;
  display: inline-flex;
  height: 39px;
}

.tab {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
  @media (max-width: 450px) {
    font-size: 13px;
  }
  &:hover {
    background: #e6e6e6;
    font-size: 14px;
    font-weight: 500;
  }
}

.active {
  background: #297230;
  color: white;
  font-size: 14px;
  font-weight: 500;
  @media (max-width: 450px) {
    font-size: 13px;
  }
}
