.button {
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 9999px;
  font-size: 15px;
  font-family: "avanir";
  font-weight: 500;
  color: #fff;
  cursor: pointer;

  &.success {
    background: #297230;
  }

  &.error {
    &:hover {
      background: #b71c1c;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
