@use "@/style/variables.scss" as *;

.orderContainer {
  padding: 0 32px;
  height: 100vh;
  background-color: $white;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  display: flex;
  .left {
    position: relative;
    width: 50%;
    height: 100vh;
    padding: 100px 64px 146px 64px;
    .goBack {
      position: absolute;
      top: 38px;
      left: 38px;
    }
    .inputWrapper {
      display: flex;
      gap: 10px;
      width: 100%;
    }
    .phoneWrapper {
      margin-top: 40px;
    }
    .checkWrapper {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 8px;
      margin-top: 16px;
    }
    .paymentWrapper {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: start;

      gap: 24px;
      .payments {
        display: flex;
        gap: 8px;
      }
      .paymentTitle {
        font-family: "trial";
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    .orderButtonWrapper {
      margin-top: 24px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .orderButton {
        width: 100%;
      }
      .agreement {
        text-align: center;
        font-size: 14px;
        color: #6e6d67;
        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .right {
    width: 50%;
    height: 100vh;
    padding: 64px;
    border-left: 1px solid #6e6d6799;
  }
}

@media (max-width: 450px) {
  .orderContainer {
    padding: 0 12px;
  }
}
