.button {
  font-family: "avanir";
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  padding: 10px 16px;
  background-color: white;
  border: 1px solid #6e6d6799;
  border-radius: 9999px;
  font-size: 15px;
  cursor: pointer;
  @media (max-width: 450px) {
    font-size: 13px;
  }
  .name {
    width: calc(100% - 60px);
    text-align: center;
  }

  .socialIcon {
    width: 14px;
    height: 14px;
  }
}
