.footerMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .menuTitle {
    font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;

    color: #6e6d67;
    text-transform: uppercase;
    width: 190px;
    @media (max-width: 450px) {
      font-size: 20px;
    }

    @media (max-width: 340px) {
      font-size: 18px;
    }

    @media (max-width: 450px) {
      width: 150px;
    }
  }

  .menuList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .menuItem {
      font-family: 'Onest', 'Avenir Next', sans-serif;
      font-weight: 300;
      @media (max-width: 450px) {
        width: 130px;
      }

      a {
        color: #6e6d67;
        text-decoration: none;
        font-size: 14px;
        @media (max-width: 450px) {
          font-size: 13px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
