.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topBlockContainer {
  display: flex;
  margin-bottom: 160px;
  width: 100%;
  padding-right: 32px;
  @media (max-width: 450px) {
    margin-bottom: 60px;
    padding-right: 12px;
  }
}

.left {
  width: 50%;
  height: 861px;
  position: relative;
}

.right {
  width: 50%;
  height: 861px;
}
.right img {
  width: 100%;
  height: 861px;
}

.imageWrapper {
  margin-top: 80px;
}

.textWrapper {
  margin-right: 36px;
}

.textWrapperTitle {
  font-size: 16px;
  font-weight: 500;
}

.textWrappertxt {
  font-weight: 500;
  font-size: 16px;
  color: #0000004d;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.lineTo {
  position: absolute;
  bottom: 30px;
  left: 210px;
}

.info {
  position: absolute;
  bottom: 165px;
  left: 100px;
}

.textIcon {
  font-family: "TRIAL";
  font-size: 64px;
  color: rgba(41, 114, 48, 1);
}

.marqueeContent {
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1200px) {
  .lineTo {
    left: 150px;
  }
}

@media (max-width: 1200px) {
  .lineTo {
    bottom: 45px;
  }
}

@media (max-width: 800px) {
  .topBlockContainer {
    flex-direction: column-reverse;
  }
  .right {
    height: auto;
    width: 100%;
  }

  .left {
    width: 100%;
    height: auto;
  }

  .right img {
    height: 478px;
    object-fit: fill;
  }
  .wrapper {
    justify-content: initial;
    gap: 120px;
  }
  .imageWrapper {
    margin-top: 0;
  }
  .content {
    width: 100%;
  }
}
