@use "@/style/variables.scss" as *;

.profileContainer {
  width: 100%;
  padding: 0 32px;
  height: 100vh;
  background-color: $white;
  overflow-x: hidden;
  margin-bottom: 24px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  .contentWrapper {
    margin-top: 100px;
    width: 100%;
    .profile {
      display: flex;
      min-height: 100vh;
      gap: 140px;
    }
  }
}
