.step {
  position: relative;
  cursor: pointer;

  .stepImage {
    width: 100%;
    height: 280px;
    transition: height 0.5s ease;
    display: block;
  }

  .textContent {
    margin-top: 20px; // отступ от картинки
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    .stepImage {
      height: 450px; // увеличиваем картинку
    }

    .textContent {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 1800px) {
  .step {
    width: 320px;
  }
}

@media (max-width: 1600px) {
  .step {
    width: 300px;
  }
}

@media (max-width: 1440px) {
  .step {
    width: 280px;
  }
}

@media (max-width: 1256px) {
  .step {
    width: 260px;
  }
}

@media (max-width: 1150px) {
  .step {
    width: 240px;
  }
}

@media (max-width: 1070px) {
  .step {
    width: 230px;
  }
}

@media (max-width: 1010px) {
  .step {
    min-width: 220px;
  }
}
