.step {
  position: relative;
  cursor: pointer;
  overflow: visible;
  transition: all 0.3s ease;
  width: 100%;
  height: 280px;

  &.active {
    height: 594px;

    .stepImage {
      height: 480px;
      width: 480px;

      width: 100%;
      object-fit: cover;
    }

    .textContent {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.inactive {
    height: 280px;

    .stepImage {
      height: 280px;
      width: 280px;
      object-fit: cover;
    }
  }

  .stepWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

    .stepEtap {
      position: absolute;
      height: 43px;
      width: 64px;
      top: 0;
      left: 0;
      background-color: #297230;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      z-index: 3;
    }

    .stepImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  .textContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: #333;
    padding-top: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .textTitle {
      font-size: 16px;
      font-weight: 600;
      color: black;
    }

    .textDesc {
      font-size: 15px;
      font-weight: 400;
      color: black;
    }
  }
}

@media (max-width: 1200px) {
  .step {
    &.active {
      height: 500px;

      .stepImage {
        height: 400px;
      }
    }

    &.inactive {
      height: 180px;

      .stepImage {
        height: 160px;
      }
    }
  }
}

@media (max-width: 900px) {
  .step {
    &.active {
      height: 400px;

      .stepImage {
        height: 320px;
      }
    }

    &.inactive {
      height: 160px;

      .stepImage {
        height: 140px;
      }
    }
  }
}

@media (max-width: 600px) {
  .step {
    &.active {
      height: 350px;

      .stepImage {
        height: 280px;
      }
    }

    &.inactive {
      height: 140px;

      .stepImage {
        height: 120px;
      }
    }
  }
}
