.bestsellers {
  padding: 40px 0;

  :global {
    .slick-list {
      margin: 0;
    }

    .slick-slide {
      padding-right: 24px;
      max-width: 432px;

      @media (max-width: 450px) {
        padding-right: 12px;
      }
    }

    .slick-slide:first-child {
      padding-left: 0;
    }

    .slick-slide:last-child {
      padding-right: 0;
    }
  }

  .title {
    font-family: "trial";
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

@media (max-width: 470px) {
  .bestsellers {
    .title {
      font-size: 24px;
    }
  }
}

:global(.slick-dots li) {
  margin: 0 6px;
  width: 12px;
}

.customDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background: transparent;
  margin: 0 5px;

  &:hover {
    transform: scale(1.1);
  }
}

.activeDot {
  background: black;
}
