*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "avanir";
  src: url("/src/assets/fonts/AvenirNextRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "avanir";
  src: url("/src/assets/fonts/AvenirNextLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "avanir";
  src: url("/src/assets/fonts/AvenirNextMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "avanir";
  src: url("/src/assets/fonts/AvenirNextDemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avanir";
  src: url("/src/assets/fonts/AvenirNextHeavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "avanir";
  src: url("/src/assets/fonts/AvenirNextBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "trial";
  src: url("/src/assets/fonts/TRIALOceanicLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "trial";
  src: url("/src/assets/fonts/TRIALOceanicRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "trial";
  src: url("/src/assets/fonts/TRIALOceanicMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "trial";
  src: url("/src/assets/fonts/TRIALOceanicBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bimbo";
  src: url("/src/assets/fonts/Bimbo900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "onest";
  src: url("/src/assets/fonts/OnestLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "avanir";
  // max-width: 1536px;
  margin: 0 auto;
  width: 100%;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
