.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: column;
  .preHeaderContent {
    width: 100%;
    background-color: black;
    color: #fffcf2;
    height: 27px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerContent {
    width: 100%;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      padding: 14px 0;
    }
  }
}

.logo img {
  height: 36px;
  cursor: pointer;
}

.logoMobile img {
  height: 24px;
  cursor: pointer;
}

.cartCount {
  background-color: #1abc9c;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 4px;
}
