// Colors
$white: #ffffff;
$black: #000000;
$green-297: #297230;
$color-secondary: #9333ea;
$gray-6e: #6e6d67;
$gray-a3: #a3a3a3;
$red-ff: #ff4766;
$red-line: #ff0808;
$bg-light: #f6f5ef;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
