.reviewsContainer {
  width: 100%;
  padding-top: 50px;

  .allWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    p {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .titleWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 49px;

    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      margin-bottom: 24px;
    }
    .title {
      font-family: "trial";
      font-weight: 300;
      font-size: 64px;
      text-align: start;
      @media (max-width: 450px) {
        font-size: 24px;
      }
    }
    .setReview {
      font-family: "trial";
      color: black;
      font-weight: 300;
      font-size: 18px;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
    }
  }
}
