.reviewsContainer {
  width: 100%;
  padding-top: 250px;
  padding-right: 32px;
  max-width: 1536px;
  margin: 0 auto;
  @media (max-width: 450px) {
    padding-top: 100px;
    padding-right: 12px;
  }

  .allWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    p {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .titleWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 49px;

    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      margin-bottom: 24px;
    }
    .title {
      font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 64px;
      text-align: start;
      @media (max-width: 450px) {
        font-size: 24px;
      }
    }
    .setReview {
      font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      color: black;
      font-weight: 300;
      font-size: 18px;
      border-bottom: 2px solid #dfdfdf;
    }
  }
}
