.card {
  cursor: pointer;
  .imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 432px;
    max-width: 432px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    background-color: #f6f5ef;

    @media (max-width: 450px) {
      height: 316px;
    }

    .addToCardWrapper {
      width: 100%;
      display: flex;
      padding: 5px;
      gap: 5px;

      .addToCart {
        cursor: pointer;
        height: 54px;
        border: none;
        width: 90%;
        background-color: white;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      .gift {
        height: 54px;
        width: 54px;
        border: none;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #000;
        }

        img {
          width: 23px;
          height: 23px;
        }
      }
    }

    .discount,
    .label {
      height: 43px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      font-size: 14px;
      font-weight: 500;
      color: white;
    }

    .discount {
      left: 0;
      width: 54px;
      background: #297230;
    }

    .label {
      right: 0;
      width: 79px;
      background-color: #0000003d;
    }

    .sizeWrapper {
      text-align: start;

      .size50,
      .size100 {
        color: white;
        width: 57px;
        height: 43px;
        font-size: 14px;
        border: none;
      }

      .size50 {
        background-color: #0000003d;
      }

      .size100 {
        background-color: #0000001a;
      }
    }
  }

  .info {
    margin-top: 12px;
    display: flex;
    max-width: 432px;

    .txtWrapper {
      text-align: start;

      .name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 6px;
      }

      .desc {
        font-size: 14px;
        color: #6e6d67;
        margin-bottom: 10px;
      }
    }

    .priceWrapper {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: baseline;

      .oldPrice {
        position: relative;
        color: #6e6d67;
        font-size: 16px;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          left: -5%;
          top: 50%;
          width: 110%;
          height: 2px;
          background: #ff0808;
          transform: rotate(-10deg);
        }
      }

      .price {
        font-size: 16px;
        font-weight: 600;
        color: black;
      }
    }
  }

  &:hover {
    .addToCart {
      opacity: 1;
    }
  }
}

@media (max-width: 610px) {
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
