@use "@/style/variables.scss" as *;

.bestSellerContainer {
  min-height: 100vh;
  background-color: $white;
  // overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  .bestSellerInfo {
    display: flex;
    gap: 32px;
    max-width: 1536px;
    margin: 0 auto;
    @media (max-width: 1536px) {
      padding: 0 32px;
    }
    @media (max-width: 450px) {
      padding: 0 12px;
    }
    .imagePart {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        @media (max-width: 1024px) {
          height: 80%;
        }
        @media (max-width: 900px) {
          height: 60%;
        }
      }
    }
    .infoPart {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 185px;
      @media (max-width: 756px) {
        width: 100%;
      }
      @media (max-width: 1024px) {
        gap: 100px;
      }

      @media (max-width: 768px) {
        gap: 50px;
      }

      .infoWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .title {
          font-weight: 300;
          font-size: 48px;
          text-align: start;
          text-transform: uppercase;
          @media (max-width: 450px) {
            font-size: 24px;
          }
        }
        .desc {
          color: #6e6d67;
          font-size: 16px;
        }
      }
      .bottomWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }
  .bestsellerWrapper {
    margin-bottom: 140px;
    @media (max-width: 1556px) {
      margin-left: 32px;
    }
    @media (max-width: 450px) {
      margin-left: 12px;
      margin-bottom: 40px;
    }
  }
}
