@use "@/style/variables.scss" as *;

.bestSellerContainer {
  padding: 0 32px;
  height: 100vh;
  background-color: $white;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  max-width: 1536px;
  margin: 0 auto;
  .bestSellerInfo {
    display: flex;
    gap: 32px;
    .imagePart {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        @media (max-width: 1024px) {
          height: 80%;
        }
        @media (max-width: 900px) {
          height: 60%;
        }
      }
    }
    .infoPart {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 185px;
      @media (max-width: 756px) {
        width: 100%;
      }
      @media (max-width: 1024px) {
        gap: 100px;
      }

      @media (max-width: 768px) {
        gap: 50px;
      }

      .infoWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .title {
          font-weight: 300;
          font-size: 48px;
          text-align: start;
          text-transform: uppercase;
          @media (max-width: 450px) {
            font-size: 24px;
          }
        }
        .desc {
          color: #6e6d67;
          font-size: 16px;
        }
      }
      .bottomWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }
}

@media (max-width: 450px) {
  .bestSellerContainer {
    padding: 0 12px;
  }
}
